# ###########################
# # Стандарт для C# / .NET / Visual Studio / Rider
# ###########################

[Bb]in/
[Oo]bj/

# Исключаем папки IDE (кэш, настройки пользователя)
.vs/
.idea/

# Файлы пользовательских настроек IDE
*.suo
*.user
*.sln.dotsettings

# Результаты тестирования
TestResults/
*.trx

# Пакеты (для старого формата NuGet)
packages/

# Лог-файлы
*.log
*.log.*

# ###########################
# # Файлы Entity Framework
# ###########################

# Локальные файлы базы данных (SQL Server Express LocalDB)
# Обязательно игнорировать, это ВАША локальная копия БД
*.mdf
*.ldf

# ###########################
# # Секреты и Конфигурация
# ###########################

# Файл с настройками для локальной разработки.
# Часто содержит секретные ключи, пароли и строки подключения.
# НЕ ДОЛЖЕН попадать в репозиторий.
appsettings.Development.json
secrets.json
*.secrets.json

# Файлы, генерируемые инструментом User Secrets
user-secrets/

# ###########################
# # Системные файлы (OS)
# ###########################

# macOS
.DS_Store

# Windows
Thumbs.db